:root {
  --colors-background: #191919;
  --colors-text: #ffffff;
  --colors-text-soft: #777777;
  --colors-navlink: var(--colors-text-soft);
  --colors-navlink-hover: var(--colors-text-soft);
  --colors-navlink-active: #ffffff;
  --colors-primary: #ff0077;
  --colors-chart-title: #dddddd;
  --colors-chart-marker: #cccccc;
}

/* from https://css-tricks.com/box-sizing/ */
* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Ubuntu, Arial, sans-serif;
}

p {
  max-width: var(--measure);
}
